<!DOCTYPE html>
<html lang="zh-CN" xml:lang="zh-CN">
  <head>
    <% include _head_meta %>
  </head>
  <body class = 'clearfix'>
  eqweqweqweqweqweqwe111111aaaaaaaaa123123213123123123
    <data-table>Loading...</data-table>
  </body>
  <% if(env === "dev") {%>
    <script type = 'text/javascript' src = '<%=baseurl%>/public/index.js'></script>
  <%}%>
</html>