<!DOCTYPE html>
<html lang="zh-CN" xml:lang="zh-CN">
  <head>
    <% include _head_meta %>
  </head>
  <body class = 'clearfix'>
    <app-layout>Loading...</app-layout>
  </body>
  <% if(env === "development") {%>
    <script type = 'text/javascript' src = '<%=baseurl%>/public/test.js'></script>
    <script type = 'text/javascript' src = '<%=baseurl%>/public/common.js'></script>
    <script type = 'text/javascript' src = '<%=baseurl%>/public/index.js'></script>
  <%}%>
</html>